// Aquí se definen las variables, como tipo de fuente, paleta de colores
// tamaño de fuente, etc.
@use 'sass:color'; 

/* Paleta de Colores */
$primary-color: rgba(86, 124, 141, 1);
$secondary-color: rgba(255, 255, 242, 1);
$background-color: rgba(245, 239, 235, 1);
$text-color: rgba(47, 65, 86, 1);
$light-gray: rgba(200, 217, 230, 1);
$border-color: rgba(200, 217, 230, 0.3); 
$primary-color-half: rgba(86, 124, 141, 0.5);
$text-color-half: rgba(47, 65, 86, 0.5);
$variation-color: rgb(86, 141, 136);
$variation-color2: rgba(86, 141, 136, 0.05);
$variation-color3: rgba(151, 159, 170, 1);

//Algunos degradados
$gradient1: linear-gradient(to right, #9133e8, #0f33d5,var(--primary-color), #EEB211);
$google_gradient: linear-gradient(to right, #3369E8, #D50F25, #EEB211, #009925);
$email_gradient: linear-gradient(to right, #BB0018, #EA4335, #FBBC05, #34A853);


// Variables para profile
$color-fondo: #F5EFEB; // Beige
$color-texto: #2F4156; // Navy
$color-principal: #567C8D; // Teal
$color-secundario: #C8D9E6; // Sky Blue

//Fuente para titulo
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
