// Aquí se definen las variables, como tipo de fuente, paleta de colores
// tamaño de fuente, etc.
@use 'sass:color'; 

/* Paleta de Colores */
/* Gradient in RGBA */
$deg-green: linear-gradient(to right, rgba(100, 185, 84, 1) 0%, 14.146341383457184%, rgba(148, 210, 65, 1) 28.292682766914368%, 64.14634138345718%, rgba(167, 222, 56, 1) 100%);
$deg-green-2: linear-gradient(to right,rgba(76, 176, 90, 1) 10%, rgba(132, 203, 73, 1) 29%, rgba(180, 230, 43, 1) 100%);
/* Green Healthy Palette */
$baby-powder: #FAFBF7ff;
$mindaro: #E8FCAC;
$lime: #b4e62bff;
$yellow-green: #A2CE1Bff;
$apple-green: #9CC029ff;
$viridian: #237E65ff;
$sea-green: #3B8F52ff;  
$jungle-green: #209B78ff;
$zomp: #239a7aff;
$dark-spring-green: #216F55ff;
$cal-poly-green: #1a4726ff;
$dayvs-gray: #4a4a4b;
$black-olive: #34403Bff;
$night: #0C0D12ff;

//Fuente para titulo
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

